.panda-popover {
  display: inline-block;
  &-popper {
    color: #333;
    background-color: rgba(255, 255, 255, .95);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    &_title {
      border-bottom: 1px solid #eee;
      font-size: 16px;
    }
    &_title, &_content {
      padding: 10px 15px;
    }
  }
}