.panda-badge {
  display: inline-block;
  padding: 0 5px;
  font-size: 1.2rem;
  height: 18px;
  line-height: 18px;
  color: #ffffff;
  background-color: @color-red;
  border-radius: 11px;
  vertical-align: middle;
  overflow: hidden;
}

.panda-badge.dot {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  padding: 0;
}