html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

h1 {
	font-size: 3.0rem;
}
h2 {
	font-size: 2.6rem;
}
h3 {
	font-size: 2.2rem;
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.6rem;
}
h6 {
	font-size: 1.4rem;
}

p, div, span, ul, li, label, table {
	font-size: 1.4rem;
}

@import '../icon/index.less';
@import '../button/index.less';
@import '../tag/index.less';
@import '../badge/index.less';
@import '../alert/index.less';
@import '../input/index.less';
@import '../number-input/index.less';
@import '../select/index.less';
@import '../textarea/index.less';
@import '../radio/index.less';
@import '../checkbox/index.less';
@import '../switch/index.less';
@import '../slider/index.less';
@import '../tag-input/index.less';
@import '../table/new/index.less';
@import '../modal/index.less';
@import '../notice/index.less';
@import '../drawer/index.less';
@import '../divider/index.less';
@import '../collapse/index.less';
@import '../message/index.less';
@import '../tooltip/index.less';
@import '../popover/index.less';