// primary color of panda ui
@primary-color: #ff6600;

// color for text
@primary-text-color: #232323;
@secondary-text-color: #444444;

// color for link
@link-color: @primary-text-color;
@link-hover-color: @secondary-text-color;

// color for button
@default-button-bgcolor: #f5f5f5;
@primary-button-bgcolor: @primary-color;
@success-button-bgcolor: #19be6b;
@info-button-bgcolor: #1890ff;
@warning-button-bgcolor: #ff7a45;
@error-button-bgcolor: #ed3f14;
@text-button-bgcolor: rgba(0,0,0,0);