/*font*/
@base-font-size: 1.2rem;

/*common colors*/
@color-primary: #1890ff;
@color-blue: #1890ff;
@color-green: #19be6b;
@color-cyan: #19be6b;
@color-orange: #19be6b;
@color-red: #19be6b;

// color for text
@primary-text-color: #232323;
@secondary-text-color: #444444;

// color for link
@link-color: @primary-text-color;
@link-hover-color: @secondary-text-color;

// color for button
@default-button-bgcolor: #ffffff;
@primary-button-bgcolor: @color-primary;
@success-button-bgcolor: #19be6b;
@info-button-bgcolor: #13c2c2;
@warning-button-bgcolor: #ff7a45;
@error-button-bgcolor: #ed3f14;
@text-button-bgcolor: rgba(0,0,0,0);